entrypoint = "index.js"
modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json"]
run = "npm start"

[nix]
channel = "stable-23_05"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "cloudrun"
ignorePorts = false
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 8080
externalPort = 80
